@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*Меняет подсчет ширины блока*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Убираем линии обводки*/

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

/*Делает эти элементы блочными*/

nav, footer, header, aside {
    display: block;
}

/*Уравнивает поведение шрифтов в разных браузерах
    и на телефонах убирает самовольное увеличение шрифтов*/

html, body {
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*Просим эти теги наследовать семейство шрифта*/

input, button, textarea {
    font-family: inherit;
}

/*Убираются некоторые особенности для разных браузеров*/

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}

img {
    vertical-align: top;
}

/*Обнуляем все стили заголовков*/

h1, h2, h3, h4, h5, h6, p, span {
    font-size: inherit;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fcf;
    animation: lds-grid 1.2s linear infinite;
}

.loader div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.loader div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.loader div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.loader div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.loader div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.loader div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.loader div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.loader div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes loader {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*--------------------*/